@use '../../theme/exports/css-variables.scss';

.tag {
  color-scheme: light;
  font: var(--grapes-body-m);
  display: inline-block;
  height: var(--grapes-unit-24);
  color: var(--grapes-color-content-primary);
  border-radius: var(--grapes-border-radius-12);
  padding: 0 var(--grapes-unit-8);
}

.tag:has(.tagCloseButton) {
  padding-right: var(--grapes-unit-4);
}

.tagContent {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  gap: var(--grapes-unit-4);
}

.tagCloseButton {
  cursor: pointer;
  background-color: var(--grapes-color-background-primary-default);
  outline: none;
  border: none;
  height: var(--grapes-unit-16);
  width: var(--grapes-unit-16);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0;
  color: inherit;

  &:focus {
    outline: 0;
  }
  &:focus-visible {
    outline: var(--grapes-focus-ring);
    outline-offset: var(--grapes-focus-ring-offset);
  }
  &:hover {
    background-color: var(--grapes-color-background-primary-hover);
  }
  &:active {
    background-color: var(--grapes-color-background-primary-pressed);
  }
}

.tag[data-variant='neutral'] {
  color: var(--grapes-color-content-secondary-bg-secondary);
  background-color: var(--grapes-color-background-secondary-default);
}
.tag[data-variant='info'] {
  color: var(--grapes-color-content-info-default);
  background-color: var(--grapes-color-background-secondary-info-default);
}
.tag[data-variant='success'] {
  color: var(--grapes-color-content-success-default);
  background-color: var(--grapes-color-background-secondary-success-default);
}
.tag[data-variant='warning'] {
  color: var(--grapes-color-content-warning-default);
  background-color: var(--grapes-color-background-secondary-warning-default);
}
.tag[data-variant='alert'] {
  color: var(--grapes-color-content-alert-default);
  background-color: var(--grapes-color-background-secondary-alert-default);
}

.tag[data-variant='carbon'] {
  background-color: css-variables.$color-carbon-7;
}
.tag[data-variant='grolive'] {
  background-color: css-variables.$color-grolive-bright;
}
.tag[data-variant='forest'] {
  background-color: css-variables.$color-forest-bright;
}
.tag[data-variant='lemon'] {
  background-color: css-variables.$color-lemon-bright;
}
.tag[data-variant='ocean'] {
  background-color: css-variables.$color-ocean-bright;
}
.tag[data-variant='purple'] {
  background-color: css-variables.$color-purple-20;
}
.tag[data-variant='pink'] {
  background-color: css-variables.$color-pink-bright;
}
.tag[data-variant='peach'] {
  background-color: css-variables.$color-peach-bright;
}
.tag[data-variant='white'] {
  background-color: var(--grapes-color-background-primary-default);
}
