.datePickerInputIcon {
  transition: color var(--grapes-transition-duration)
    var(--grapes-transition-timing-function);
  margin: 0 var(--grapes-unit-8);
  color: var(--grapes-color-content-decorative-icon);
}

.toggleCalendar {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}
