@use '../../theme/placeholders';

.dropdownItemGroup {
  font: var(--title-s);
  color: var(--color-content-secondary-bg-secondary);
  padding: var(--unit-4) var(--unit-8);
  background-color: var(--color-background-secondary-default);
  pointer-events: none;
  text-transform: uppercase;
  min-height: var(--unit-32);
}
