.preview {
  font: var(--grapes-body-m);
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 36px;
  border: 1px solid var(--grapes-color-border-default);
  border-radius: var(--grapes-border-radius-8);
  color: var(--grapes-color-content-primary);
  background-color: var(--grapes-color-background-primary-default);
  padding: var(--grapes-unit-8);
  text-align: left;

  &:focus {
    outline: none;
  }
}

.clickablePreview {
  cursor: pointer;

  &:hover {
    border-color: var(--grapes-color-border-hover);
  }
}

.previewContent {
  display: inline-flex;
  flex: 1 1 auto;
  overflow: hidden;
}

.previewPrimaryText {
  flex: 0 0 auto;
  min-width: 0;
}

.previewSeparator {
  margin: 0 var(--grapes-unit-8);
  color: var(--grapes-color-border-default);
}

.previewSecondaryText {
  min-width: 0;
  flex: 1 1 auto;
  color: var(--grapes-color-content-secondary-bg-primary);
}

.previewRightAddon {
  display: inline-flex;
  align-items: center;
  margin-left: var(--grapes-unit-8);
}
