.tabList {
  --_size-separator: 1px;
  position: relative;
  display: flex;
  align-items: end;
  gap: var(--unit-24);
}

.tabList::after {
  content: '';
  position: absolute;
  width: 100%;
  height: var(--_size-separator);
  left: 0;
  bottom: 0px;
  background: var(--color-border-default);
}

.tab {
  font: var(--body-m);
  flex-grow: var(--_tab-grow, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: var(--unit-4);
  margin: 0 0 calc(var(--unit-16) - var(--_size-separator));
  border-radius: var(--border-radius-4);
  background: none;
  border: none;
  cursor: pointer;
  color: var(--_color-tab, var(--color-content-primary));
}

.tab:hover {
  background-color: var(--color-background-primary-hover);
  outline: none;
}
.tab:focus-visible {
  outline: var(--focus-ring);
}

.tab[aria-selected='true'] {
  font: var(--title-m);
  --_color-tab: var(--color-content-selected);
}

.indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  transition-property: transform, width, background-color;
  transform: translateX(var(--_offset-indicator, 0px));
  will-change: transform;
  height: calc(var(--_size-separator) * 2);
  background: var(
    --_color-indicator,
    var(--color-background-primary-brand-default)
  );
  width: var(--_size-indicator);
}
