@use '../../theme/exports/css-variables.scss';

.highlightIcon {
  color-scheme: light;
  display: inline-grid;
  place-items: center;
  border-radius: var(--_border-radius, var(--grapes-border-radius-12));
  box-sizing: border-box;
  height: var(--_size, var(--grapes-unit-56));
  width: var(--_size, var(--grapes-unit-56));
  color: var(--grapes-color-content-primary);
}

.highlightIcon[data-size='24'] {
  --_size: var(--grapes-unit-24);
  --_border-radius: var(--grapes-border-radius-4);
}

.highlightIcon[data-size='32'] {
  --_size: var(--grapes-unit-32);
  --_border-radius: var(--grapes-border-radius-8);
}

.highlightIcon[data-size='40'] {
  --_size: var(--grapes-unit-40);
  --_border-radius: var(--grapes-border-radius-8);
}

.highlightIcon[data-size='56'] {
  --_size: var(--grapes-unit-56);
  --_border-radius: var(--grapes-border-radius-12);
}

.highlightIcon[data-variant='alert'] {
  color: var(--grapes-color-content-alert-default);
  background-color: var(--grapes-color-background-secondary-alert-default);
}

.highlightIcon[data-variant='info'] {
  color: var(--grapes-color-content-info-default);
  background: var(--grapes-color-background-secondary-info-default);
}

.highlightIcon[data-variant='success'] {
  color: var(--grapes-color-content-success-default);
  background-color: var(--grapes-color-background-secondary-success-default);
}

.highlightIcon[data-variant='warning'] {
  color: var(--grapes-color-content-warning-default);
  background-color: var(--grapes-color-background-secondary-warning-default);
}

.highlightIcon[data-variant='neutral'] {
  background-color: var(--grapes-color-background-secondary-default);
}

.highlightIcon[data-variant='apricot'] {
  background-color: css-variables.$color-apricot-20;
}

.highlightIcon[data-variant='blue'] {
  background-color: css-variables.$color-blue-20;
}

.highlightIcon[data-variant='carbon'] {
  background-color: css-variables.$color-carbon-7;
}

.highlightIcon[data-variant='emerald'] {
  background-color: css-variables.$color-emerald-20;
}

.highlightIcon[data-variant='forest'] {
  background-color: css-variables.$color-forest-bright;
}

.highlightIcon[data-variant='grolive'] {
  background-color: css-variables.$color-grolive-bright;
}

.highlightIcon[data-variant='lemon'] {
  background-color: css-variables.$color-lemon-bright;
}

.highlightIcon[data-variant='ocean'] {
  background-color: css-variables.$color-ocean-bright;
}

.highlightIcon[data-variant='pink'] {
  background-color: css-variables.$color-pink-bright;
}

.highlightIcon[data-variant='peach'] {
  background-color: css-variables.$color-peach-bright;
}

.highlightIcon[data-variant='purple'] {
  background-color: css-variables.$color-purple-20;
}
