.toast {
  font: var(--body-m);
  position: relative;
  box-shadow: var(--elevation-l);
  display: grid;
  grid-template-columns: 16px 1fr auto;
  gap: 0 var(--unit-8);
  align-items: center;
  justify-items: start;
  width: var(--size-toast);
  border-radius: var(--border-radius-8);
  color: var(--color-content-complementary);
  overflow: hidden;
  padding: var(--unit-8) var(--unit-8) var(--unit-8) var(--unit-16);
  box-sizing: border-box;
}

.toast:has(.toastContent):not(:has(.toastAction)) {
  padding-bottom: var(--unit-16);
}

.toast[data-variant='success'] {
  background: var(--color-background-primary-success-default);
}
.toast[data-variant='alert'] {
  background: var(--color-background-primary-alert-default);
}

.toastContent,
.toastAction {
  grid-column-start: 2;
}
