.radioField {
  transition:
    background-color var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);
  font: var(--body-m);

  display: inline-flex;
  text-align: left;
  padding: var(--unit-8);
  margin: 0 calc(-1 * var(--unit-8));
  border-radius: var(--border-radius-8);
  flex-direction: row;
  align-items: center;
  gap: var(--unit-8);
  color: var(--color-content-primary);
  background-color: transparent;
  cursor: pointer;
}

.radioField:hover {
  background-color: var(--color-background-primary-hover);
}

.radioField:has(:focus-visible) {
  background-color: var(--color-background-primary-default);
  outline: var(--focus-ring);
  outline-offset: var(--focus-ring-offset);
}

.radioField:has(:focus-visible) input[type='radio'] {
  outline: 0;
}

.radioField:has(:disabled) {
  color: var(--color-content-secondary-bg-primary);
  cursor: not-allowed;
  background-color: transparent;
}

.radioInput {
  flex: 0 0 auto;
}
