@use '../../../theme/placeholders/table' as *;

.skeletonTable {
  @extend %table;
}

.skeletonTableHeader {
  @extend %table-header;
}

.skeletonTableHeaderCell {
  @extend %table-header-cell;
  border-bottom: $table-border-width solid var(--color-border-default);

  &.borderedSkeletonTableHeaderCell:not(:last-child) {
    @extend %table-cell-separator;
  }
}

.skeletonTableBodyRow:not(:last-child) .skeletonTableBodyCell {
  @extend %table-row-separator;
}

.skeletonTableBodyCell {
  @extend %table-body-cell;

  &.compactSkeletonTableBodyCell {
    @extend %table-body-cell-compact;
  }

  &.borderedSkeletonTableBodyCell:not(:last-child) {
    @extend %table-cell-separator;
  }
}

.skeletonTableCellWrapper {
  display: flex;
  align-items: center;
}
