.grid {
  display: grid;
  grid-template-columns: repeat(7, var(--grapes-size-col-day));
  grid-template-rows: 1fr repeat(6, var(--grapes-size-col-day));
  text-align: center;
}

.weekday {
  font: var(--grapes-body-s);
  margin: 0;
  color: var(--grapes-color-content-secondary-bg-primary);
  text-transform: capitalize;
  padding-bottom: var(--grapes-unit-8);
}

.dayBtn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: var(--grapes-unit-4);
  color: var(--grapes-color-content-primary);
  border-radius: var(--grapes-border-radius-4);
  background-clip: content-box;

  &:disabled {
    pointer-events: none;
    color: var(--grapes-color-content-secondary-bg-secondary);
    -webkit-text-fill-color: var(--grapes-color-content-secondary-bg-secondary);
    color: var(--grapes-color-content-secondary-bg-secondary);
    background-color: var(--grapes-color-background-primary-disabled);
    border-radius: 0;
    padding: 0;
  }

  &:not(.selected):hover span {
    color: var(--grapes-color-content-selected);
    background-color: var(--grapes-color-background-primary-hover);
  }

  &:not(.selected):focus-visible span {
    outline: var(--grapes-focus-ring);
  }
}

.dayBtn span {
  font: var(--grapes-body-m);
  height: 100%;
  aspect-ratio: 1;
  display: grid;
  margin: 0 auto;
  place-items: center;
  border-radius: var(--grapes-border-radius-4);
}

:is(.selected span, .selected.dayBtn[data-inrange='true'] span) {
  color: var(--grapes-color-content-complementary);
  background-color: var(--grapes-color-background-primary-brand-default);
  font: var(--grapes-title-m);
}

.dayBtn[data-inrange='true'] {
  padding-inline: 0;
  color: var(--grapes-color-content-selected);
  background-color: var(--grapes-color-background-primary-selected);
}

.dayBtn[data-inrange='true'] + .selected {
  background: content-box
    linear-gradient(
      to left,
      transparent 50%,
      var(--grapes-color-background-primary-selected) 50%
    );
}

.selected:has(+ .dayBtn[data-inrange='true']) {
  background: content-box
    linear-gradient(
      to left,
      var(--grapes-color-background-primary-selected) 50%,
      transparent 50%
    );
}
