.navigationItem {
  --_unit-margin-bottom: var(--unit-16);
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: var(--unit-8);
  padding: var(--unit-4);
  border-radius: var(--border-radius-4);
  font: var(--body-m);
  color: var(--color-content-primary);
  text-decoration: none;
  margin-bottom: calc(var(--_unit-margin-bottom) - 1px);
  transition:
    background-color var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);
}

.navigationItem:hover {
  background-color: var(--color-background-primary-hover);
  outline: none;
}
.navigationItem:focus-visible {
  outline: var(--focus-ring);
}

.text {
  flex: 1;
}

.navigationItem[data-active='true'] {
  font: var(--title-m);
  color: var(--color-content-selected);
}

.navigationItem[data-active='true']::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: calc(-1 * var(--_unit-margin-bottom));
  z-index: 1;
  height: 2px;
  background: var(--color-background-primary-brand-default);
  width: 100%;
}
