.switchField {
  transition:
    background-color var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);
  display: inline-grid;
  grid-template-columns: 1fr var(--size-switch);
  gap: var(--unit-4) var(--unit-8);
  align-items: center;
  text-align: left;
  padding: var(--unit-8);
  margin: 0 calc(-1 * var(--unit-8));
  border-radius: var(--border-radius-8);
  color: var(--color-content-primary);
  cursor: pointer;

  &:hover {
    background-color: var(--color-background-primary-hover);

    .switchFieldHelpText {
      color: var(--color-content-secondary-bg-secondary);
    }
  }
  &:has(:focus-visible) {
    background-color: var(--color-background-primary-default);
    outline: var(--focus-ring);
    outline-offset: var(--focus-ring-offset);

    input[type='checkbox'] {
      outline: 0;
    }
  }
}

.switchField:has(:checked) {
  color: var(--color-content-primary);
}

.switchField:has(:disabled) {
  cursor: not-allowed;
  color: var(--color-content-secondary-bg-primary);
  background-color: transparent;
}

.switchField[data-fit='parent'] {
  display: grid;
}

.switchFieldText {
  font: var(--title-m);
}

.switchFieldHelpText {
  font: var(--body-m);
  color: var(--color-content-secondary-bg-primary);
}
