.navigation {
  background-color: var(--grapes-color-background-primary-default);
  box-sizing: border-box;
  border-bottom: 1px solid var(--grapes-color-border-default);
}

.navigationItems {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--grapes-unit-24);
  padding: 0;
  margin: 0;
}
