.panelSimpleSectionTitle {
  font: var(--title-l);
  margin-bottom: var(--unit-16);
  color: var(--color-content-primary);
}

.panelSimpleSectionIcon {
  flex: 0 0 auto;
  transition: rotate var(--transition-duration)
    var(--transition-timing-function);
}

details[open] .panelSimpleSectionIcon {
  rotate: 90deg;
}

.panelSimpleSectionCollapsibleHeader {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.panelSimpleSectionCollapsibleHeader .panelSimpleSectionTitle {
  margin-bottom: 0;
}
