.passwordInputWrapper {
  display: flex;
  flex-direction: column;
  width: min-content;

  &.parentFitPasswordInputWrapper {
    width: 100%;
  }

  &:has(input:disabled) {
    cursor: not-allowed;
  }
}
