@use '../../theme/placeholders';

.container {
  position: relative;
}

.calendar {
  position: absolute;
  margin: 0;
  padding: var(--unit-24);
  @extend %dropdown-content;
  width: 328px;
  opacity: 1;
  transform: translateY(0) scale(1);
  transition-property: opacity, transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

@starting-style {
  .calendar {
    opacity: 0;
    transform: translateY(calc(-1 * var(--unit-16)));
  }
}

.calendar[data-closing='true'] {
  animation: var(--transition-duration) datePickerOut
    var(--transition-timing-function) forwards;
}

@keyframes datePickerOut {
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  to {
    opacity: 0;
    transform: translateY(calc(-1 * var(--unit-16)));
  }
}
