.list {
  list-style: none;
  background-color: var(--grapes-color-background-primary-default);
  padding: var(--grapes-unit-8) var(--grapes-unit-24);
  border: 1px solid var(--grapes-color-border-default);
  border-radius: var(--grapes-border-radius-12);
}

.item {
  position: relative;
  padding: var(--grapes-unit-8) 0;
}

.item:not(:last-child)::after {
  content: '';
  position: absolute;
  inset: auto 0 0 0;
  border-top: 1px solid var(--grapes-color-border-default);
}
