:root {
  color-scheme: light;
}
:root[data-theme='dark'] {
  color-scheme: dark;
}

/**
* Change the default font family, font size, font weight and line height
* Change the default text color
*/
html {
  font: var(--grapes-body-m);
  color: var(--grapes-color-content-primary);
}

/**
 * Font smoothing
 */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Roobert';
  font-weight: 500;
  font-style: normal;
  font-display: block;
  src: url('./assets/fonts/Roobert/Roobert-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 1 900;
  font-style: normal;
  font-display: block;
  src: url('./assets/fonts/Inter/Inter.woff2') format('woff2');
}
