.table {
  width: 100%;
  border-radius: var(--grapes-border-radius-8);
  border: 1px solid var(--grapes-color-border-default);
  border-spacing: 0;
}

.table td {
  padding: 0 var(--grapes-unit-16);
  font: var(--grapes-body-m);
  border-bottom: 1px solid var(--grapes-color-border-default);
  color: var(--grapes-color-content-primary);
  height: var(--grapes-unit-40);
}

.table td:first-child {
  color: var(--grapes-color-content-secondary-bg-primary);
}

.table td:not(:last-of-type) {
  border-right: 1px solid var(--grapes-color-border-default);
}
.table tbody tr:last-of-type td {
  border-bottom: none;
}
