.tooltipContent {
  color-scheme: light;
  font: var(--grapes-body-m);
  z-index: var(--grapes-z-index-tooltip);
  padding: var(--grapes-unit-8);
  box-shadow: var(--grapes-elevation-l);
  border-radius: var(--grapes-border-radius-8);
  background-color: var(--grapes-color-background-complementary-default);
  color: var(--grapes-color-content-complementary);
  text-align: center;
}
