.panelEditableSectionTitle {
  font: var(--grapes-title-l);
  margin-bottom: var(--grapes-unit-16);
  color: var(--grapes-color-content-primary);
  display: flex;
  justify-content: space-between;
}

.panelEditableSectionIcon {
  flex: 0 0 auto;
}

.panelEditableSectionActions {
  display: flex;
  justify-content: space-between;
  margin-top: var(--grapes-unit-24);
  gap: var(--grapes-unit-8);
}
