@use '../../../theme/placeholders';

.panelEditableSectionTitle {
  font: var(--title-l);
  margin-bottom: var(--unit-16);
  color: var(--color-content-primary);
  display: flex;
  justify-content: space-between;
}

.panelEditableSectionIcon {
  flex: 0 0 auto;
}

.panelEditableSectionActions {
  display: flex;
  justify-content: space-between;
  margin-top: var(--unit-24);
  gap: var(--unit-8);
}
