.accordionItem:not(:last-of-type) {
  border-bottom: 1px solid var(--color-border-default);
}

.accordionItemHeader {
  font: var(--body-m);
  color: var(--color-content-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--unit-64);
  padding: 0 var(--unit-24);
}

.accordionItemHeader:hover {
  background-color: var(--color-background-primary-hover);
}

.accordionItemHeaderIcon {
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

details[open] .accordionItemHeaderIcon {
  transform: rotate(90deg);
}
