.accordionItem:not(:last-of-type) {
  border-bottom: 1px solid var(--grapes-color-border-default);
}

.accordionItemHeader {
  font: var(--grapes-body-m);
  color: var(--grapes-color-content-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--grapes-unit-64);
  padding: 0 var(--grapes-unit-24);
}

.accordionItemHeader:hover {
  background-color: var(--grapes-color-background-primary-hover);
}

.accordionItemHeaderIcon {
  transition: transform var(--grapes-transition-duration)
    var(--grapes-transition-timing-function);
}

details[open] .accordionItemHeaderIcon {
  transform: rotate(90deg);
}
