.anchor {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
  text-decoration: underline;
  opacity: 1;
  display: inline-flex;
  align-items: center;
  gap: var(--grapes-unit-8);
}

.anchor:focus-visible {
  border-radius: var(--grapes-border-radius-4);
  outline: var(--grapes-focus-ring);
  outline-offset: var(--grapes-focus-ring-offset);
}

.anchor[data-variant]:hover {
  color: var(--grapes-color-content-brand-hover);
}

.anchor[data-variant]:visited {
  color: var(--grapes-color-content-brand-pressed);
}

.anchor[data-variant='primary'] {
  color: var(--grapes-color-content-brand-default);
}

.anchor[data-variant='secondary'] {
  color: var(--grapes-color-content-primary);
}
