.moneyInputWrapper {
  display: inline-block;
}

.parentFitAmountInputWrapper {
  width: 100%;
}

.moneyInput {
  input[type='number'] {
    appearance: textfield;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.moneyInputCurrencySymbol {
  font: var(--grapes-body-m);
  color: var(--grapes-color-content-decorative-icon);
  height: 100%;
  display: flex;
  align-items: center;
  padding: var(--grapes-unit-8);
  box-sizing: border-box;
}

.moneyInputWrapper:has(:disabled) {
  cursor: not-allowed;
}
