.modal {
  --_modal-width: 864px;
  --_modal-height: 560px;

  box-shadow: var(--elevation-l);
  position: relative;
  background-color: var(--color-background-primary-default);
  margin: var(--unit-48) 0;
  border-radius: var(--unit-12);
  width: var(--_modal-width);
  height: var(--_modal-height);
  transform: translateY(0) scale(1);
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
  overflow: hidden;
}

@starting-style {
  .modal {
    transform: translateY(var(--unit-16)) scale(0.97);
  }
}

.modalCloseButton {
  position: absolute;
  top: var(--unit-16);
  right: var(--unit-16);
  z-index: 1;
}

.grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-columns: var(--_modal-width);
  height: 100%;
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
  --_grid-translate-x: calc(var(--_slide, 0) * -1 * var(--_modal-width));
  transform: translateX(var(--_grid-translate-x));
}

.subgrid {
  display: grid;
  grid-row: 1 / -1;
  grid-template-columns: 1fr 1fr;
  height: var(--_modal-height);
}

.leftSide {
  display: grid;
  grid-template-rows: 1fr max-content;
  align-items: center;
  gap: var(--unit-16);
  height: calc(var(--_modal-height) - 2 * var(--unit-32));
}

.title {
  font: var(--heading-l);
  color: var(--color-content-primary);
  margin: 0 0 var(--unit-24);
}

.content {
  text-align: left;
  max-height: 100%;
  overflow-y: auto;
}

.contentFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: var(--unit-12);
}

.modalIllustration {
  width: 100%;
  overflow: hidden;
  display: flex;
}

.modalIllustration > img {
  width: auto;
  height: 100%;
  margin: auto;
}
