$background-width: 240px;

@keyframes loadingSkeleton {
  0% {
    background-position: calc(0% - #{$background-width}) 0;
  }
  20% {
    background-position: calc(0% - #{$background-width}) 0;
  }
  80% {
    background-position: calc(100% + #{$background-width}) 0;
  }
  100% {
    background-position: calc(100% + #{$background-width}) 0;
  }
}

:where(.skeleton) {
  color-scheme: light;
  display: inline-block;
  width: var(--width-skeleton);
  height: var(--height-skeleton);
  border-radius: var(--grapes-border-radius-4);
  background: var(--grapes-color-skeleton)
    linear-gradient(
      90deg,
      var(--grapes-color-skeleton) 0%,
      var(--grapes-color-background-tertiary-default) 50%,
      var(--grapes-color-skeleton) 100%
    )
    0 0 / #{$background-width} 100vh no-repeat;
  animation: 1.5s linear infinite forwards loadingSkeleton;
}
