%dropdown-content {
  box-shadow: var(--elevation-l);
  background-color: var(--color-background-primary-default);
  border: 1px solid var(--color-border-default);
  border-radius: var(--border-radius-12);
  z-index: var(--z-index-dropdown);
  box-sizing: border-box;
}
