@use 'disabled';

%input {
  @extend %input-layout;
  @extend %input-text;

  &:hover {
    @extend %input-hover;
  }
  &:focus {
    @extend %input-focus;
  }
  &:disabled {
    @extend %input-disabled;
  }
  &:read-only {
    background-color: var(--grapes-color-background-primary-readonly);
  }
}

%input-layout {
  height: var(--grapes-unit-40);
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  padding: var(--grapes-unit-8);
  border: 1px solid var(--grapes-color-border-default);
  border-radius: var(--grapes-border-radius-8);
  background-color: var(--grapes-color-background-primary-default);
}

%input-text {
  font: var(--grapes-body-m);
  color: var(--grapes-color-content-primary);

  &::placeholder {
    color: var(--grapes-color-content-secondary-bg-primary);
  }
  &:disabled {
    @extend %disabled-text;
  }
}

%input-hover {
  border-color: var(--grapes-color-border-hover);
}

%input-focus {
  outline: var(--grapes-focus-ring);
  border-color: var(--grapes-color-border-default);
  outline-offset: var(--grapes-focus-ring-offset);
}

%input-disabled {
  @extend %disabled-container;
}

%input-invalid {
  border-color: var(--grapes-color-border-alert);
}

%input-invalid-focus {
  outline: var(--grapes-focus-ring);
  border-color: var(--grapes-color-border-default);
  outline-offset: var(--grapes-focus-ring-offset);
}
