%table {
  font: var(--grapes-body-m);
  width: 100%;
  background-color: var(--grapes-color-background-primary-default);
  border: 1px solid var(--grapes-color-border-default);
  border-spacing: 0;
  border-radius: var(--grapes-border-radius-12);
}

%table-header {
  color: var(--grapes-color-content-secondary-bg-primary);
  border-bottom: 1px solid var(--grapes-color-border-default);
}

%table-header-cell {
  font: var(--grapes-body-m);
  height: var(--grapes-unit-40);
  box-sizing: border-box;
  padding: 0 var(--grapes-unit-16);
}

%table-row-separator {
  border-bottom: 1px solid var(--grapes-color-border-default);
}

%table-cell-separator {
  border-right: 1px solid var(--grapes-color-border-default);
}

%table-body-cell {
  position: relative;
  height: var(--grapes-unit-64);
  box-sizing: border-box;
  padding: 0 var(--grapes-unit-16);
  color: var(--grapes-color-content-primary);
}

%table-body-cell-compact {
  height: var(--grapes-unit-48);
}
